# This file contains an example configuration for the Mellow ALPS load cell
# PCB using the ADS131M02 ADC and STM32F072 microcontroller.

[load_cell]
sensor_type: ads131m02
cs_pin: mellow:PA15
#   The pin connected to the ADS131M02 chip select line. This parameter must
#   be provided.
spi_speed: 2000000
#   SPI bus speed. The default is 8.192 MHz.
spi_bus: spi1a
#   See the "common SPI settings" section for a description of the
#   above parameters.
data_ready_pin: mellow:PB6
#   Pin connected to the ADS131M02 data ready (DRDY) line. This parameter must
#   be provided.
clock_pin: mellow:PA3
#   Optional pin that provides the ADS131M02 external 8MHz clock.
channel: 0
#   Which ADC channel to read: 0 or 1. The default is 0.
gain: 128
#   Programmable gain amplifier setting. Valid values are 1, 2, 4, 8, 16, 32,
#   64, and 128. The default is 128.
sample_rate: 500
#   Sample rate in samples per second. Valid values are 250, 500, 1000, 2000,
#   4000, 8000, 16000, and 32000. The default is 500. Higher sample rates
#   reduce the effective number of bits (ENOB) due to the relationship between
#   oversampling ratio and noise performance.
counts_per_gram = 100.0 
reference_tare_counts = -2652259 
